server:
  port: 8080

spring:
  application:
    name: 251210_thymeleaf

  # 핵심: dev 프로필을 활성화하여 application-dev.yml을 읽어오도록 설정
  profiles:
    active: dev

  thymeleaf:
    cache: false

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true