server:
  port: 8080

spring:
  application:
    name: 251210_thymeleaf

  thymeleaf:
    cache: false   # 개발 중에는 false

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# 프로필은 여기서 안 박아도 됨 (로컬에서만 dev 쓰고 싶으면 넣어도 되긴 함)
# profiles:
#   active: dev
